{% for leaf in tree %}
    <li{% if default_open == true %} class="open"{% endif %}>
        {% if leaf.type == "Category" %}
            <label class="tree-toggler nav-header">
                <i class="fa{% if default_open == true %} fa-folder-open-o{% else %}fa-folder-o{% endif %}"></i> {{ leaf.name }}
            </label>
        {% else %}
            <label>
                <i class="fa fa-globe"></i>{{ leaf.name }} <a href="#">{{ leaf.url }} <i class="fa fa-external-link"></i></a>
            </label>
        {% endif %}

        {% if leaf.children is defined %}
            <ul class="nav nav-list tree">
                {% include '@App/Bookmark/Default/tree-view.html.twig' with {'tree': leaf.children} %}
            </ul>
        {% endif %}
    </li>
{% endfor %}