{% for link in links %}
    {#<li>#}
        {#<a href="#">{{ link.name }}</a>#}
        {#{% if link.sublinks %}#}
            {#<ul>#}
                {#{% include "@VanBookmark/Default/tree-view.html.twig" with {'links': link.sublinks} %}#}
            {#</ul>#}
        {#{% endif %}#}
    {#</li>#}

    <li>
        {% if link.type == "category" %}
            <label class="tree-toggler nav-header">
                    <i class="fa fa-folder-o"></i> {{ link.name }}
            </label>
        {% else %}
            <a href="#">{{ link.name }} | {{ link.url }} <i class="fa fa-external-link"></i></a>
        {% endif %}

        {% if link.children is defined %}
        <ul class="nav nav-list tree">
            {% include "@VanBookmark/Default/tree-view.html.twig" with {'links': link.children} %}
            {#recursion inclusion here#}
            {#<li>#}
                {#<a href="#">Link</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="#">Link</a>#}
            {#</li>#}
            {#<li>#}
                {#<label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Structure</label>#}
                {#<ul class="nav nav-list tree">#}
                    {#<li>#}
                        {#<a href="#">Link</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<a href="#">Link</a>#}
                    {#</li>#}
                    {#<li>#}
                        {#<label class="tree-toggler nav-header"><i class="fa fa-folder-o"></i> Plugins</label>#}
                        {#<ul class="nav nav-list tree">#}
                            {#<li>#}
                                {#<a href="#">Link</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">Link</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
            {#</li>#}
        </ul>
        {% endif %}
    </li>
{% endfor %}