<div class="cl-sidebar">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">

                <ul class="cl-vnavigation">
                    <li>
                        <a href="{{ path('app.bookmarks') }}">
                            <i class="fa fa-dashboard"></i>
                            Bookmarks
                        </a>
                    </li>
                    <li>
                        <a href="{{ path("app.programming") }}">
                            <i class="fa fa-dashboard"></i>
                            Code Editor
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="search-field collapse-button">
            <input type="text" placeholder="Search..." class="form-control search">
            <button id="sidebar-collapse" class="btn btn-default"><i class="fa fa-angle-left"></i>
            </button>
        </div>
    </div>
</div>