<div class="sidebar">

    <div class="sidebar-bg"></div><!-- /.sidebar-bg -->

    <div class="sidebar-trigger sidebar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
        <i class="fa fa-bars"></i>
    </div><!-- /.sidebar-trigger -->

    <div style="position: relative; overflow: hidden; width: auto; height: 100%;" class="slimScrollDiv">
        <div style="overflow: hidden; width: auto; height: 100%;" class="sidebar-inner sidebar-collapse collapse">

            <ul class="sidebar-menu">

                <li class="sidebar-header">
                    Menu 1
                </li>

                <li class="active">
                    <a href="{{ path('app.bookmarks') }}">
                        <i class="fa fa-dashboard"></i>
                        Bookmarks
                    </a>
                </li>

                <li class="divider"></li>

                <li class="sidebar-header">
                    Menu 2
                </li>

                <li class="dropdown has_sub ">

                    <a href="http://jumpstartthemes.com/#" class="">
                        <i class="fa fa-edit"></i>

                        Menu 2.1

                        <span class="">
                          <i class="fa fa-angle-right pull-right"></i>
                        </span>
                    </a>

                    <ul class="list-unstyled" style="">
                        <li>
                            <a href="https://jumpstartthemes.com/demo/v/3.0.0/templates/admin-2/form-basic.html">
                                Menu 2.1.1
                            </a>
                        </li>

                        <li>
                            <a href="https://jumpstartthemes.com/demo/v/3.0.0/templates/admin-2/form-pickers.html">
                                Menu 2.1.2 <span class="label label-secondary pull-right">New</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="divider"></li>

                <li class="sidebar-header">
                    Menu 3
                </li>

                <li class="dropdown has_sub ">
                    <a href="http://jumpstartthemes.com/#" class="">
                        <i class="fa fa-file-text-o"></i>
                        Menu 3.1
                    </a>
                </li>

            </ul>

            <div class="clearfix"></div>

        </div>
        <div style="background: rgb(136, 136, 136) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 864px;" class="slimScrollBar"></div>
        <div style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(153, 153, 153) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;" class="slimScrollRail"></div>
    </div><!-- /.sidebar-inner -->

</div> <!-- /.side-menu -->