/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
/.idea/*
/_resources/

# doctrine entities generation backup
*.php~