{% extends "@App/layout-cleanzone.html.twig" %}

{% block content %}

    <div class="page-head">
        <h2>My profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="{{ path("index") }}">Home</a>
            </li>
            <li class="active">My profile</li>
        </ol>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">

                <div class="block-flat">
                    <div class="header">
                        <a href="{{ path("communities_search") }}" class="btn btn-primary pull-right">Join a community</a>
                        <a href="{{ path("communities_search") }}" class="btn btn-primary pull-right">Create a community</a>
                        <h2 class="title">My communities</h2>
                    </div>
                    <div class="content">
                        {% if communities is not empty %}
                            <ul class="row list-unstyled">
                            {% for community in communities %}
                                {% include "AppBundle:Community:community-item.html.twig" with {"community": community.community, "actions": ["leave"]} %}
                            {% endfor %}
                            </ul>
                        {% else %}
                            You are not in any community yet.
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock content %}

