{% extends "@App/layout-cleanzone-simple.html.twig" %}

{% block content %}
    <br class="xs-80">

    <div class="account-wrapper">

        <div class="account-body">

            <h3>Welcome back to MVP Ready.</h3>

            <h5>Please sign in to get access.</h5>

            <form class="form account-form" method="POST" action="{{ path("app.security.login_check") }}">

                {% for type, flashMessage in app.session.flashbag.all %}
                    {% include '@App/alert.html.twig' with {'type': type, 'message': flashMessage.0|raw} %}
                {% endfor %}

                <div class="form-group">
                    <label for="login-username" class="placeholder-hidden">E-mail</label>
                    <input type="email" name="_username" class="form-control" id="login-username" placeholder="E-mail" tabindex="1">
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <label for="login-password" class="placeholder-hidden">Password</label>
                    <input type="password" name="_password" class="form-control" id="login-password" placeholder="Password" tabindex="2">
                </div> <!-- /.form-group -->

                <div class="form-group clearfix">
                    <div class="pull-left">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="" value="" tabindex="3"> <small>Remember me</small>
                        </label>
                    </div>

                    <div class="pull-right">
                        <small><a href="./account-forgot.html">Forgot Password?</a></small>
                    </div>
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
                        Signin &nbsp; <i class="fa fa-play-circle"></i>
                    </button>
                </div> <!-- /.form-group -->

            </form>


        </div> <!-- /.account-body -->

        <div class="account-footer">
            <p>
                Don't have an account? &nbsp;
                <a href="{{ path("app.user.registration") }}" class="">Create an Account!</a>
            </p>
        </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
$(function() {

})
</script>
{% endblock javascripts %}