{% extends '@App/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Vous avez oublié votre mot de passe ?</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Saississez votre e-mail de connexion afin de recevoir un mail qui vous permettra de définir un nouveau mot de passe.
                        Si vous ne le recevez pas dans les secondes qui suivent, vérifiez dans vos courriers indésirables.
                    </p>

                    {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Valider" class="btn btn-primary" />
                        </div>
                    {{ form_end(form) }}
                    {#<form action="{{ path("evo_security_password_retrieval") }}" method="post">#}
                        {#<div class="form-group">#}
                            {#<input type="text" class="form-control" id="identifier" name="username" placeholder="Votre adresse e-mail" />#}
                        {#</div>#}


                    {#</form>#}
                </div>
            </div>




        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}